<h1>Galerie</h1>
<%= link_to 'Dodaj galerię', new_gallery_path %>
<br/>
<br/>
<br/>
<table width="100%">
  <tr>
    <th width="20%">Tytuł</th>
    <th width="40%">Zdjęcia</th>
    <th width="20%">Data publikacji</th>
    <th width="20%">Opcje</th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.name %><%= " (galeria ukryta)" if gallery.hidden %></td>
    <td>
      <% gallery.photos.each do |photo| %>
        <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url %>
      <% end %>
    </td>
    <td><%= gallery.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
    <td><%= link_to 'Edytuj', edit_gallery_path(gallery) %> <%= link_to 'Usuń', gallery, confirm: 'Czy na pewno chcesz usunąć galerię? ', method: :delete %></td>
  </tr>
<% end %>
</table>
