<div>
  <h1>Wiadomości</h1>
  <%= link_to "Dodaj", new_info_path %>
  <br/>
  <br/>
  <br/>
  
  <table width="100%">
    <tr>
      <th width="60%">Tytuł</th>
      <th width="20%">Data publikacji</th>
      <th width="20%">Akcje</th>
    </tr>
    
    <% @infos.each do |info| %>
      <tr>
	<td><%= info.title %></td>
	<td><%= info.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
	<td><%= link_to 'Edytuj', edit_info_path(info) %> | <%= link_to 'Usuń', info, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
