<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->

<head> 
  <meta charset='utf-8'> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag "style.css", "jquery.fancybox.css" %>
  <%= javascript_include_tag "jquery-1.7.2.min.js", "jquery.backstretch.min.js", "jquery.fancybox.js", "jquery.roundabout.min.js" %>

  <%= render 'home/metatags' %>
</head>

<body>
  <div class="ie6-only">
    <p>
      Używasz przestarzałej przeglądarki, przez co strona może nie wyświetlać się poprawnie.
      Wejdź na <a href="http://browsehappy.com/">Browse Happy</a> aby wybrać i zainstalować nowszą przeglądarkę. 
    </p>
  </div>
  <div class="container">
    <div class="header">
      <%= link_to( (image_tag "logo.png", :alt => "logo"), root_url ) %>

      <ul class="navigation">
        <li class="<%= set_selected_class('home', 'about') %>">
          <%= link_to "O projekcie", front_about_url %>
        </li>
        <% @nav_pages.each do |page| %>
          <li class="<%= set_selected_class('front_pages', 'show', page.slug) %>">
            <%= link_to page.title, front_page_url(page) %>
          </li>
        <% end %>
        <li class="<%= set_selected_class('front_galleries') %>">
          <%= link_to "Galeria", front_galleries_url %>
        </li>
        <li class="<%= set_selected_class('front_videos') %>">
          <%= link_to "Video", front_videos_url %>
        </li>
        <li class="<%= set_selected_class('home', 'contact') %>">
          <%= link_to "Kontakt", contact_url %>
        </li>
        <li class="<%= set_selected_class('home', 'english') %>">
          <%= link_to image_tag('eng.jpg', :alt => "English", :width => "25", :height => "16", :class => "english"), english_url %>
        </li>
      </ul>
      <div class="search">
        <%= form_tag search_url do %>
          <label>
            Search
          </label>
          <%= text_field_tag :key %>
          <%= submit_tag %>
        <% end %>
      </div>
    </div>

    <% if params[:controller] == 'home' && params[:action] == 'index' %>    
      <ul class="roundabout">
        <% Photo.where(:sg => true).limit(3).each do |p| %>
        <li>
          <%= image_tag p.photo.url, :alt => p.description %>
          <%= link_to(p.photo.url, :class => "fancybox") do %>            
          <em><%= p.description %></em>
          <% end %>               
        </li>      
        <% end %>
      </ul>
    <% end %>


    <div class="content">
      <div class="main">
        <%= yield %>
      </div>


      <div class="sidebar">

        <!-- Sidebar map -->

        <!-- Newsletter -->

        <h2 class="newsletter">
          <i></i>
          Newsletter
        </h2>
        <div class="newsletter">
          <p>
            Wpisz swój email aby dostawać nasz newsletter.
          </p>

          <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="http://wisliska.us5.list-manage1.com/subscribe/post?u=b22a6f459d19a30a1d4943a42&amp;id=9f8fc6d8ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>  <div class="clear"><input type="submit" value="Zapisz się" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
              </form>
              </div>
          <!--End mc_embed_signup-->


          <% if false %>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <%= form_tag subscribe_url do %>
              <div class="mc-field-group">
                <%= text_field_tag :email, '', :class => "required email", :placeholder => "E-mail" %>
              </div>
              <div id="mce-responses" class="clear">
                <% if flash[:alert] %>
                  <div class="response" id="mce-error-response"><%= flash[:alert] %></div>
                <% end %>
                <% if flash[:notice] %>
                  <div class="response" id="mce-success-response"><%= flash[:notice] %></div>
                <% end %>
              </div>

              <div class="clear">
                <%= submit_tag "Zapisz się", :class => "button" %>
              </div>            
              <% end %>
            </div>
            <!--End mc_embed_signup-->
          <% end %>

        </div>

        <!-- end Newsletter -->


        <!-- Mapa -->
        <h2 class="map">
          <i></i>
          Mapa starorzeczy
        </h2>
        <div class="map">
          <p>
            <a href="http://www.vistulaoxbows.zbagien.pl/" target="_blank">
              <img src="/assets/mapa.jpg" alt="Mapa starorzeczy">
            </a>
          </p>
        </div>
        <!-- end Mapa -->



        <!-- Sidebar Events -->

        <h2 class="events">
          <i></i>
          Wydarzenia
        </h2>
        <% if @r_events.present? %>
          <% @r_events.each do |event| %>
            <div class="single-event">
              <h3>
                <%= link_to event.title, front_event_url(event) %>            
              </h3>
              <p class="date">
                <%= event.event_date.strftime("%d-%m-%Y") %>
              </p>
              <div class="description">
                <%= raw event.content %>
              </div>
            </div>
            <% end %>
        <% end %>

        <div class="bottom-more">
          <%= link_to "Więcej...", front_events_url %>          
        </div>

        <!-- end Sidebar Events -->


        <!-- Gallery -->


        <h2 class="gallery">
          <i></i>
          Galeria
        </h2>
        <div class="gallery">
          <% if @r_photos.present? %>            
            <% @r_photos.each do |photo| %>
              <%= link_to( image_tag(photo.photo.rbar.url, :alt => photo.title, :title => photo.title), photo.photo.url, :class => "fancybox", :title => "Autor zdjęcia: #{photo.description}"  ) %>
            <% end %>            
          <% end %>
        </div>
        <div class="bottom-more">
          <%= link_to "Więcej...", front_galleries_url %>
        </div>
        <!-- end Gallery -->
      </div>
    </div>

    <div class="footer">    
      <div class="swiss p_left">
        <a href="http://www.programszwajcarski.gov.pl/" target="_blank">
          <img src="/assets/partner_swiss.jpg" alt="Swiss Contribution">
        </a>
      </div>
      <div class="tekst p_center">
        <a href="http://www.swiss-contribution.admin.ch/poland" target="_blank">
          <img src="/assets/partner_tekst.jpg" alt="Projekt współfinansowany przez Szwajcarię w ramach szwajcarskiego 
          programu współpracy z nowymi krajami członkowskimi Unii Europejskiej">
        </a>
      </div>
    </div>

    <div class="footer">    
      <div class="partner">
        <h3>
          Instytucja realizująca
        </h3> 
        <a href="http://tnz.most.org.pl/pl/" target="_blank">
          <img src="/assets/partner_tnz.jpg" alt="Towarzystwo na rzecz Ziemi">
        </a>
      </div>
      <div class="partner">
        <h3>
          Partner projektu
        </h3> 
        <a href="http://www.iop.krakow.pl/" target="_blank">
          <img src="/assets/partner_pan.jpg" alt="IOP">
        </a>
      </div>
      <div class="partner wfo">
        <h3>
          Sponsor działań edukacyjnych
        </h3> 
        <a href="http://www.wfos.krakow.pl/" target="_blank">
          <img src="/assets/partner_wfo.jpg" alt="WFOSiGW">
        </a>
      </div>
      <div class="partner medialny">
        <h3>
          Partner medialny
        </h3> 
        <a href="http://www.radiokrakow.pl/" target="_blank">
          <img src="/assets/partner_radiokrakow.jpg" alt="Radio Kraków">
        </a>
      </div>
    </div>

    <div class="copyright">
      <p>
        Copyright &copy; 2012
      </p>
    </div>
  </div>
</div>

  <script type="text/javascript"> 
    $.backstretch("<%= asset_path('bg.jpg') %>");
  </script>
  <script> 
    (function() { 
      var search_label = $('.search label');
      search_label.on('click', function() {
        $('.search').toggleClass('open');
      });
    })();
  </script>
  <script>
    $(document).ready(function() {
      $('ul.roundabout').roundabout();
    });
    $(".fancybox").fancybox({
      wrapCSS    : 'fancybox-custom',
      closeClick : true,
      openEffect : 'none',
      helpers : {
        title : {
          type : 'inside'
        },
        overlay : {
          css : {
            'background' : 'rgba(238,238,238,0.85)'
          }
        }
      }
    });
  </script>
</body>
</html>