<!DOCTYPE html> 
<html>
<head> 
  <meta charset='utf-8'> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag "jquery-1.7.2.min.js", "jquery.backstretch.min.js" %>

  <title>
    cw
  </title> 
</head>

<body> 
  <div class="container">
    <div class="header">
      <%= link_to( (image_tag "logo.png", :alt => "logo"), root_url ) %>

      <ul class="navigation">
        <li class="<%= set_selected_class('home', 'index') %>">
          <%= link_to "Strona główna", root_url %>
        </li>
        <li class="<%= set_selected_class('front_infos') %>">
          <%= link_to "Wiadomości", front_infos_url %>
        </li>
        <li class="<%= set_selected_class('front_events') %>">
          <%= link_to "Wydarzenia", front_events_url %>
        </li>
        <li class="<%= set_selected_class('home', 'about') %>">
          <%= link_to "O projekcie", front_about_url %>
        </li>        
        <li class="<%= set_selected_class('front_galleries') %>">
          <%= link_to "Galeria", front_galleries_url %>
        </li>
        <li class="<%= set_selected_class('front_videos') %>">
          <%= link_to "Video", front_videos_url %>
        </li>
        <li class="<%= set_selected_class('home', 'contact') %>">
          <%= link_to "Kontakt", contact_url %>
        </li>
      </ul>
      <div class="search">
        <form>
          <label>
            Search
          </label>
          <input type="text">
          <input type="submit">
        </form>
      </div>
    </div>


    <div class="content">
      <div class="main">
        <%= yield %>
      </div>


      <div class="sidebar">

        <!-- Sidebar map -->

        <!-- Newsletter -->

        <h2 class="newsletter">
          <i></i>
          Newsletter
        </h2>
        <div class="newsletter">
          <p>
            Wpisz swój email aby dostawać nasz newsletter.
          </p>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <%= form_tag subscribe_url do %>
              <div class="mc-field-group">
                <%= text_field_tag :email, '', :class => "required email", :placeholder => "E-mail" %>
              </div>

              <div id="mce-responses" class="clear">
                <% if flash[:alert] %>
                  <div class="response" id="mce-error-response"><%= flash[:alert] %></div>
                <% end %>
                <% if flash[:notice] %>
                  <div class="response" id="mce-success-response"><%= flash[:notice] %></div>
                <% end %>
              </div>

              <div class="clear">
                <%= submit_tag "Zapisz się", :class => "button" %>
              </div>            
            <% end %>
          </div>
          <!--End mc_embed_signup-->
        </div>

        <!-- end Newsletter -->


        <!-- Mapa -->

        <h2 class="map">
          <i></i>
          Mapa starorzeczy
        </h2>
        <div class="map">
          <p>
            <a href="#">
              <img src="#" alt="Mapa starorzeczy">
            </a>
          </p>
        </div>

        <!-- end Mapa -->



        <!-- Sidebar Events -->

        <h2 class="events">
          <i></i>
          Wydarzenia
        </h2>
        <% if @r_events.present? %>
          <% @r_events.each do |event| %>
            <div class="single-event">
              <h3>
                <%= link_to event.title, front_event_url(event) %>            
              </h3>
              <p class="date">
                <%= event.event_date.strftime("%d-%m-%Y") %>
              </p>
              <div class="description">
                <%= raw event.content %>
              </div>
            </div>
            <% end %>
        <% end %>

        <div class="bottom-more">
          <%= link_to "Więcej...", front_events_url %>          
        </div>

        <!-- end Sidebar Events -->


        <!-- Gallery -->


        <h2 class="gallery">
          <i></i>
          Galeria
        </h2>
        <div class="gallery">
          <% if @r_galleries.present? %>
            <% @r_galleries[0..0].each do |gallery| %>
              Gleria: <%= gallery.name %><br/>
              <% gallery.photos.each do |photo| %>
                <%= link_to( image_tag(photo.photo.thumb.url, :alt => photo.title, :title => photo.title), front_gallery_url(gallery) ) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="bottom-more">
          <%= link_to "Więcej...", front_galleries_url %>
        </div>

        <!-- end Gallery -->

      </div>
    </div>
    <div class="footer">
      <h3>
        Nasi partnerzy
      </h3>
    </div>

    <div class="copyright">
      <p>
        Copyright &copy; 2012
      </p>
    </div>
  </div>

  <script type="text/javascript"> 
  $.backstretch("<%= asset_path('bg.jpg') %>");
  </script>
  <script> 
  
  (function() { 

    var search_label = $('.search label');

    search_label.on('click', function() {
      $('.search').toggleClass('open');
    });
  })();
  </script>
</body>
</html>



<% if false %>
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag "jquery-1.7.2.min.js" %>
</head>

<body>
  
  
  <p>Layout</p>
  Nawigacja<br>
  <%= link_to "SG", root_url %>
  <% @pages.each do |p| %>
  <%= link_to p.title, front_page_url(p.label) %>
  <% end %>
  <%= link_to "Video", front_videos_url %>
  <%= link_to "Galeria", front_galleries_url %>
  <%= link_to "Kontakt", contact_url %>
  <br><br><br>
  <div>
    <%= yield %>
  </div>
</body>
</html>
<% end %>
